* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif; }

i {
  font-size: 25px; }

li {
  display: inline; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

#footerDisplay {
  display: grid;
  grid-template-areas: "textFooter social";
  grid-template-columns: 70% 30%; }

.textFooter {
  grid-area: textFooter;
  text-align: justify; }

.social {
  grid-area: social; }

.imagenIndex {
  position: relative;
  text-align: center; }

.textIndex {
  position: absolute;
  text-align: justify;
  font-size: 18px; }

.textIndex p {
  color: whitesmoke; }

.textIndexTitle {
  position: absolute;
  padding-left: 5px;
  padding-top: 5px;
  text-align: left;
  font-size: 25px; }

.textIndexTitle h1 {
  color: whitesmoke; }

html, body {
  max-width: 100%;
  overflow-x: hidden;
  background-image: url(/assets/imagenes/background.png); }

html, main {
  padding-left: 7px;
  padding-right: 7px; }

html, footer {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px; }

button {
  margin-right: 12px; }

#gallery {
  display: flex;
  flex-wrap: wrap; }

.gallery img {
  display: flex;
  width: 100%; }

.column {
  flex: 50%;
  padding: 5px; }

.row img {
  padding: 5px; }

.redesSociales {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end; }

.text2 {
  display: flex;
  justify-content: center; }

#institucional {
  display: grid;
  grid-template-areas: "text1 text2 videoInst" "text1 text2 imagenInst";
  grid-template-columns: 35% 35% 30%; }

.text1 {
  grid-area: text1;
  text-align: justify;
  margin-right: 20px; }

.text2 {
  grid-area: text2; }

.videoInst {
  grid-area: videoInst; }

.imagenInst {
  grid-area: imagenInst; }

.imagenInst img {
  width: 100%; }

#escuela {
  display: grid;
  grid-template-areas: "info info" "ppa pca";
  grid-template-columns: 50% 50%; }

.info {
  grid-area: info; }

.ppa {
  grid-area: ppa;
  text-align: justify;
  margin-right: 15px; }

.pca {
  grid-area: pca;
  text-align: justify;
  margin-left: 15px; }

@media screen and (max-width: 320px) {
  .imagenIndex {
    position: relative;
    text-align: unset; }
  .textIndex {
    position: unset;
    bottom: 5px;
    left: 5px;
    text-align: justify;
    font-size: 14px; }
  .textIndex p {
    color: black; }
  .textIndexTitle {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: bottom;
    font-size: 8px; }
  .textIndexTitle h1 {
    color: whitesmoke; }
  i {
    font-size: 20px; }
  #institucional {
    display: unset;
    display: grid;
    grid-template-areas: "text1" "videoInst" "text2" "imagenInst";
    grid-template-columns: 100%; }
  .text1 {
    grid-area: text1;
    text-align: justify; }
  .text2 {
    grid-area: text2;
    text-align: justify; }
  .videoInst {
    grid-area: videoInst; }
  .videoInst iframe {
    width: 100%; }
  .imagenInst {
    grid-area: imagenInst; }
  .imagenInst img {
    width: 100%; } }

@media screen and (min-width: 320px) {
  .imagenIndex {
    position: relative;
    text-align: unset; }
  .textIndex {
    position: unset;
    bottom: 5px;
    left: 5px;
    text-align: justify;
    font-size: 14px; }
  .textIndex p {
    color: black; }
  .textIndexTitle {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: bottom;
    font-size: 8px; }
  .textIndexTitle h1 {
    color: whitesmoke; }
  i {
    font-size: 20px; }
  #institucional {
    display: grid;
    grid-template-areas: "text1" "videoInst" "text2" "imagenInst";
    grid-template-columns: 100%; }
  .text1 {
    grid-area: text1;
    text-align: justify; }
  .text2 {
    grid-area: text2;
    text-align: justify; }
  .videoInst {
    grid-area: videoInst; }
  .videoInst iframe {
    width: 100%; }
  .imagenInst {
    grid-area: imagenInst; }
  .imagenInst img {
    width: 100%; }
  #escuela {
    display: grid;
    grid-template-areas: "info" "ppa" "pca";
    grid-template-columns: 100%; }
  .info {
    grid-area: info; }
  .ppa {
    grid-area: ppa;
    text-align: justify;
    margin-right: unset; }
  .pca {
    grid-area: pca;
    text-align: justify;
    margin-left: unset; } }

@media screen and (max-width: 800px) {
  #footerDisplay {
    display: grid;
    grid-template-areas: "textFooter"  "social";
    grid-template-columns: 100%; }
  .textFooter {
    grid-area: textFooter;
    text-align: center; }
  .social {
    grid-area: social;
    align-items: center; } }

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 25px; }
  a {
    text-decoration: none; }
  li {
    display: inline; }
  ul {
    list-style-type: none; }
  .navegacion {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    align-items: flex-end; }
  .imagenIndex {
    position: relative;
    text-align: center; }
  .imagenIndex img {
    width: 100%; }
  .textIndex {
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-align: left;
    font-size: 18px; }
  .textIndex p {
    color: whitesmoke; }
  .textIndexTitle {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: left;
    font-size: 25px; }
  .textIndexTitle h1 {
    color: whitesmoke; }
  i {
    font-size: 25px; }
  .redesSociales {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end; }
  .row {
    display: flex;
    flex-wrap: wrap; }
  .column {
    flex: 50%; }
  .galleryColumn img {
    margin-top: 5px; }
  .galleryWidth img {
    width: 100%; }
  #institucional {
    display: grid;
    grid-template-areas: "text1 text2 videoInst" "text1 text2 imagenInst";
    grid-template-columns: 35% 35% 30%; }
  .text1 {
    grid-area: text1;
    text-align: justify; }
  .text2 {
    grid-area: text2;
    text-align: justify; }
  .videoInst {
    grid-area: videoInst; }
  .imagenInst {
    grid-area: imagenInst; }
  .imagenInst img {
    width: 100%; }
  .textEscuela {
    text-align: justify; }
  #escuela {
    display: grid;
    grid-template-areas: "info info" "ppa pca";
    grid-template-columns: 50% 50%; }
  .info {
    grid-area: info; }
  .ppa {
    grid-area: ppa;
    text-align: justify;
    margin-right: 15px; }
  .pca {
    grid-area: pca;
    text-align: justify;
    margin-left: 15px; } }
