#institucional {
    display: grid;
    grid-template-areas: "text1 text2 videoInst"
        "text1 text2 imagenInst";
    grid-template-columns: 35% 35% 30%;
}

.text1 {
    grid-area: text1;
    text-align: justify;
    margin-right: 20px;
}

.text2 {
    grid-area: text2;
}


.videoInst {
    grid-area: videoInst;
}

.videoInst iframe {
    border-radius: 10px;
}

.imagenInst {
    grid-area: imagenInst;
}

.imagenInst img {
    width: 100%;
    border-radius: 10px;
}

#escuela {
    display: grid;
    grid-template-areas: "info info"
                         "ppa pca";
    grid-template-columns: 50% 50%;
}

.info {
    grid-area: info;
}

.ppa {
    grid-area: ppa;
    text-align: justify;
    margin-right: 15px;
}

.pca {
    grid-area: pca;
    text-align: justify;
    margin-left: 15px;
}