#institucional {
    display: grid;
    grid-template-areas: "text1 text2 videoInst"
        "text1 text2 imagenInst";
    grid-template-columns: 35% 35% 30%;
}

.text1 {
    grid-area: text1;
    text-align: justify;
    margin-right: 20px;
}

.text2 {
    grid-area: text2;
    text-align: justify;
    margin-right: 20px;
}

.videoInst {
    grid-area: videoInst;
}

.imagenInst {
    grid-area: imagenInst;
}

.imagenInst img {
    width: 100%;
}