html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-image: url(/assets/imagenes/background.png);
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

html, main {
    padding-left: 7px;
    padding-right: 7px;
}

html, footer {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
}

button {
    margin-right: 12px;
}