html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html, main {
    padding-left: 7px;
    padding-right: 7px;
}

html, footer {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
}

html, button {
    margin-right: 12px;
}