i {
    font-size: 25px;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#footerDisplay {
    display: grid;
    grid-template-areas: "textFooter social";
    grid-template-columns: 70% 30%;
}

.textFooter {
    grid-area: textFooter;
    text-align: justify;
}

.social {
    grid-area: social;
}