i {
    font-size: 25px;
}

footer {
    display: flex;
}

footer div {
    width: 85%;
}

footer ul {
    width: 15%;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}