.imagenIndex {
    position: relative;
    text-align: center;
    padding: 5px;
}

.textIndex {
    position: absolute;
    padding: 5px;
    text-align: justify;
    font-size: 18px;
}

.textIndex p {
    color: whitesmoke;
}

.textIndexTitle {
    position: absolute;
    padding-left: 5px;
    padding-top: 5px;
    text-align: left;
    font-size: 25px;
}

.textIndexTitle h1 {
    color: whitesmoke;
}